.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background-color: $white;
}
.header__wrapper {
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: block;
  max-width: 250px;
  width: 100%;
}
.header__navigation {
  margin-left: auto;
}
.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 27px;
}
.header__item:hover .header__link {
  color: $pink;
  border-color: $pink;
}
.header__link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-family: $Regular;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  color: $text;
  -webkit-transition-property: color, border-color;
  -o-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 991px) {
  .header__wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__navigation {
    display: none;
  }
}
