@import "fonts.styl"
@import "variables.styl"
@import "normalize.styl"
@import "global.styl"

@import "../../node_modules/stylus-px2rem"

//common
@import "./common/header.styl"

// index page
@import "./pages/index/general.styl"
@import "./pages/index/advantages.styl"
@import "./pages/index/size.styl"
@import "./pages/index/catalog.styl"
@import "./pages/index/order.styl"


//components
@import "./components/table.styl"
@import "./components/catalog-item.styl"
@import "./components/popup-order.styl"