@import "fonts.styl"
@import "variables.styl"
@import "normalize.styl"
@import "global.styl"

@import "../../node_modules/stylus-px2rem"


//common
@import "./common/header.styl"

// index page
@import "./pages/index/general.styl"
@import "./pages/index/advantages.styl"
@import "./pages/index/size.styl"
