// COLORS

$black = #000
$white = #fff

$text = #1E1E1E

$lightGrey = #ceced3
$grey = #8c8c8c
$line = #dbdbdf

$pink = #b4014e
$red = #ff0000

$peach = #f7f2f4


// FONTS

$Light = 'OpenSansLight'
$Regular = 'OpenSansRegular'
$Semibold = 'OpenSansSemibold'
$Bold = 'OpenSansBold'




// OTHER
