section.advantages(id="advantages")
	.advantages__wrapper.container
		h2.advantages__title Хит №1 в мире – модные женские портупеи 2017
		.advantages__info
			p.advantages__text Как и все кожаные аксессуары, портупея находится сегодня на пике востребованности в мире моды, даря своей обладательнице внимание и уверенность в себе.
			p.advantages__text Многообразие видов портупей – это как Характер каждой девушки: от портупеи из тонких ремешков для романтичных и женственных натур, до сложных сплетений из средних и широких - для дерзких и раскрепощенных. 
	img.advantages__image(src="images/advantages-bg.jpg", alt="")