section.catalog(id="catalog")
	.catalog__wrapper.container
		h2.catalog__title Каталог
		.catalog__buttons
			button.catalog__button.active(type="button" data-id="1") повседневные портупеи
			button.catalog__button(type="button" data-id="2") эротические портупеи
		.catalog__info(data-id="1")
			ul.catalog__list.list-reset
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img1.jpg", alt="")
						.catalog-item__content
							h3.catalog-item__title Портупея “Пеппи”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img2.jpg", alt="")
						.catalog-item__content
							h3.catalog-item__title Портупея “Влади”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img3.jpg", alt="")
						.catalog-item__content
							h3.catalog-item__title Портупея “Джони Миллер”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img1.jpg", alt="")
						.catalog-item__content
							h3.catalog-item__title Портупея “Пеппи”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img2.jpg", alt="")
						.catalog-item__content
							h3.catalog-item__title Портупея “Влади”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img3.jpg", alt="")
						.catalog-item__content
							h3.catalog-item__title Портупея “Джони Миллер”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%

		.catalog__info(data-id="2" style="display: none; opacity: 0;")
			ul.catalog__list.list-reset
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img4.png", alt="")
						.catalog-item__content
							h3.catalog-item__title Эротическая портупея “Пеппи”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img4.png", alt="")
						.catalog-item__content
							h3.catalog-item__title Эротическая портупея “Влади”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img4.png", alt="")
						.catalog-item__content
							h3.catalog-item__title Эротическая портупея “Джони Миллер”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img4.png", alt="")
						.catalog-item__content
							h3.catalog-item__title Эротическая портупея “Пеппи”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img4.png", alt="")
						.catalog-item__content
							h3.catalog-item__title Эротическая портупея “Влади”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img4.png", alt="")
						.catalog-item__content
							h3.catalog-item__title Эротическая портупея “Джони Миллер”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%
				li.catalog__item.catalog-item
					.catalog-item__container
						img.catalog-item__image(src="images/potrupeya-img4.png", alt="")
						.catalog-item__content
							h3.catalog-item__title Эротическая портупея “Пеппи”
							ul.catalog-item__buttons.catalog-item__buttons-sizes.list-reset
								li
									button.catalog-item__button.catalog-item__button-active(type="button") XS
								li
									button.catalog-item__button(type="button") S
								li
									button.catalog-item__button(type="button") M
								li
									button.catalog-item__button(type="button") L
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XL
								li
									button.catalog-item__button.catalog-item__button-disabled(type="button" disabled) XXL
							ul.catalog-item__buttons.catalog-item__buttons-colors.list-reset
								li
									button.catalog-item__button.catalog-item__button-black.catalog-item__button-active(type="button")
								li
									button.catalog-item__button.catalog-item__button-red.catalog-item__button-active(type="button")
							.catalog-item__price
								span.catalog-item__price-old 4990 р.
								span.catalog-item__price-new 2990 р.
							button.catalog-item__order(type="button") заказать
						.catalog-item__action
							span -53%