section.general(style="background-image: url('images/background1.png'); background-position: 50% 50%;")
	.general__wrapper.container
		.general__content
			p.general__subtitle Женские кожаные портупеи
			h1.general__title Dr.Harness
			p.general__text Любая модель со скидкой 50%
			p.general__info
				span.general__info-total всего за
				span.general__info-price 2990р.
			.general__buttons
				button.general__button(type="button") повседневные портупеи
				button.general__button(type="button") Эротические портупеи
		img.general__image.general__image-one(src="images/girl-img1.png", alt="")
		img.general__image.general__image-two(src="images/girl-img2.png", alt="")