section.order(id="order")
	.order__wrapper.container
		h2.order__title Как заказать
		.order__content
			ul.order__list.list-reset
				li.order__item
					.order__image
						img(src="images/newspaper.png", alt="")
					p.order__descr Вы оформляете заказ на нашем сайте
				li.order__item
					.order__image
						img(src="images/telemarketer.png", alt="")
					p.order__descr Менеджeр перезвонит для уточнения деталей заказа
				li.order__item
					.order__image
						img(src="images/package.png", alt="")
					p.order__descr В ближайшее время отправляем Ваш заказ
				li.order__item
					.order__image
						img(src="images/credit-card.png", alt="")
					p.order__descr Вы оплачиваете заказ при получении