section.size(style="background-image: url('images/background2.jpg'); background-position: 50% 50%;")
	.size__wrapper.container
		h2.size__title Таблица размеров
		table.size__table.table
			tbody.table__body
				tr.table__row.table__row-international
					th.table__header Международный
					td.table__data-cell.table__data-cell-bold XS
					td.table__data-cell.table__data-cell-bold S
					td.table__data-cell.table__data-cell-bold M
					td.table__data-cell.table__data-cell-bold L
					td.table__data-cell.table__data-cell-bold XL
					td.table__data-cell.table__data-cell-bold XXL
				tr.table__row.table__row-russian
					th.table__header Российский
					td.table__data-cell.table__data-cell-bold 40
					td.table__data-cell.table__data-cell-bold 42
					td.table__data-cell.table__data-cell-bold 44/46
					td.table__data-cell.table__data-cell-bold 48/50
					td.table__data-cell.table__data-cell-bold 52/54
					td.table__data-cell.table__data-cell-bold 56
				tr.table__row.table__row-hips
					th.table__header Бедра (см)
					td.table__data-cell 84-92
					td.table__data-cell 92-95
					td.table__data-cell 96-101
					td.table__data-cell 102-108
					td.table__data-cell 109-116
					td.table__data-cell 117-121
				tr.table__row.table__row-waist
					th.table__header Талия (см)
					td.table__data-cell 60-65
					td.table__data-cell 66-69
					td.table__data-cell 70-77
					td.table__data-cell 78-85
					td.table__data-cell 86-95
					td.table__data-cell 96-102
				tr.table__row.table__row-breast
					th.table__header Грудь (см)
					td.table__data-cell 74-80
					td.table__data-cell 82-85
					td.table__data-cell 86-93
					td.table__data-cell 94-102
					td.table__data-cell 103-113
					td.table__data-cell 114-119