
<div class="popup-order">
  <div class="popup-order__background"></div>
  <div class="popup-order__container"><img class="popup-order__image" src="images/potrupeya-img3.jpg" alt=""/>
    <div class="popup-order__content">
      <div class="popup-order__close"><img class="popup-order__icon" src="images/close.png" alt=""/></div>
      <h3 class="popup-order__title">Портупея “Джони Миллер”</h3>
      <div class="popup-order__price"><span class="popup-order__price-old">4990 р.</span><span class="popup-order__price-new">2990 р.</span></div>
      <form class="popup-order__form" action="#">
        <select class="popup-order__select">
          <option class="popup-order__select-option" value="XS" selected="selected">XS</option>
          <option class="popup-order__select-option" value="S">S</option>
          <option class="popup-order__select-option" value="M">M</option>
          <option class="popup-order__select-option" value="L">L</option>
          <option class="popup-order__select-option" value="XL">XL</option>
          <option class="popup-order__select-option" value="XXL">XXL</option>
        </select>
        <input class="popup-order__input" type="text" name="name" placeholder="Введите Ваше имя" required="required"/>
        <input class="popup-order__input" type="tel" name="phone" placeholder="Введите Ваш телефон" required="required"/>
        <button class="popup-order__button" type="submit">Оформить заказ</button>
      </form>
    </div>
  </div>
</div>