header.header
	.header__wrapper.container
		img.header__logo(src="images/logo.png", alt="")
		nav.header__navigation
			ul.header__list.list-reset
				li.header__item
					a.header__link(href="#catalog") Каталог
				li.header__item
					a.header__link(href="#advantages") Преимущества
				li.header__item
					a.header__link(href="#") Отзывы
				li.header__item
					a.header__link(href="#order") Как заказать
