block variables
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title=title

		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/app.css")

		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
	body
		include header.pug
		block content
		script(src="js/libs.min.js")
		script(src="js/app.js")

