.size
	overflow hidden

	background-repeat no-repeat
	background-size cover

	&__wrapper
		padding 38px 20px 50px

		display flex
		flex-direction column
		align-items center

		color $text
		text-align center

	&__title
		margin 0
		margin-bottom 15px
		padding-bottom 27px

		position relative

		width 100%

		font-size 36px
		line-height 1
		font-family $Bold

		text-transform uppercase

		&:before
			position absolute
			left 45%
			bottom 0

			width 90px
			height 3px

			content ''
			background-color $black

@media(max-width 768px)
	.size

		&__wrapper
			margin-bottom 15px
			padding 30px 20px 0

		&__title
			margin-bottom 15px
			padding-bottom 0

			font-size 30px

			&:before
				display none

@media(max-width 470px)
	.size

		&__wrapper
			margin-bottom 15px
			padding 30px 20px 0

		&__title
			margin-bottom 10px

			font-size 24px
